# Porta do Servidor
PORT=3000

# Evolution API
EVOLUTION_API_URL=http://localhost:8080
EVOLUTION_API_KEY=sua_evolution_api_key_aqui
INSTANCE_NAME=minha_instancia

# VLibras API
VLIBRAS_ENDPOINT=https://api.vlibras.gov.br/
